DATABASE_URL=postgresql://neondb_owner:npg_EQCamByts2b7@ep-fragrant-pond-aybtdmwc.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require

REDIS_URL=

SECRET_KEY=

FRONTEND_URL= http://localhost:5173/

SKIP_DB_INIT=false