@import "./variables.css";

/* ===========================
   Global Reset
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",sans-serif;
}

html,
body,
#root{
    width:100%;
    min-height:100%;
}

body{
    background:#F8FAFC;
    color:#0F172A;
    overflow-x:hidden;
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    cursor:pointer;
    border:none;
    transition:.25s ease;
}

input,
select,
textarea{
    outline:none;
    font-size:15px;
}

/* ===========================
   Layout
=========================== */

.app-layout{
    display:flex;
    min-height:100vh;
    background:#F8FAFC;
}

.main-content{
    margin-left:260px;
    width:calc(100% - 260px);
    min-height:100vh;
    display:flex;
    flex-direction:column;
    background:#F8FAFC;
}
.page-content{
    flex:1;
    padding:30px;
    background:#F8FAFC;
}

/* ===========================
   Common Page Header
=========================== */

.page-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.page-title h1{
    color:#0F172A;
    font-size:30px;
    font-weight:700;
}

.page-title p{
    color:#64748B;
    margin-top:8px;
    font-size:15px;
}

/* ===========================
   Scrollbar
=========================== */

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#CBD5E1;
    border-radius:10px;
}

::-webkit-scrollbar-thumb:hover{
    background:#94A3B8;
}